// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

$primary: #263473;
$primary-light: #4967a9;
$accent: #1bb7d0;
$accent-dark: #18a1b6;
$secondary: #161616;
$text: rgb(83, 83, 83);
$white: #fff;
$submit: #ffcc00;
$submit-text: #000;
$link: #000000;

